body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
   border-radius: 20%;

}

::-webkit-scrollbar-thumb {
  background-color: #fa9b68; /* Set the color of the thumb */
   border-radius: 50px;
}

/* For Internet Explorer */
::-ms-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  border-radius: 20%;
}

::-ms-scrollbar-thumb {
  background-color: #fab168; /* Set the color of the thumb */
}
